body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;

}

.header{
  background-color: rgb(25, 169, 183);
  
}

.header-title{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 10px;
  margin: 0;
  font-weight: 100;
  
}

.table-title{
  display: flex;
  justify-content: center;
  font-weight: 400;
}

.table-data{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  box-shadow: rgba(206, 206, 206, 0.5) 3px 3px 3px 3px;
  width: 100%;
  background-color: rgb(252, 252, 252);
  padding: 10px 0;
 
  
}
table{
 width: 100%;
 padding: 10px;
 

 
}

th{
background-color: rgb(25, 169, 183);
color: white;
font-weight: 400;
font-size: 20px;

}

td{
  background-color: rgb(235, 233, 233);
  padding: 5px 5px 5px 7px;
}

.employees{
  padding: 10px;
}

input::placeholder{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  
}

button{
  font-family: 'Montserrat', sans-serif;
  border: none;
  background-color: rgb(25, 169, 183);
  color: white;
  border-radius: 10px;
  margin-left: 10px;
  padding: 10px 40px;
  font-size: 18px;
}


.employee-form{
  width: 100%;
  display: flex;
  justify-content: center;
 
 
  

}

.add-employee{
  text-align: center;
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(206, 206, 206, 0.5) 3px 3px 3px 3px;
  
}

input{
  display: flex;
  justify-content: center;
  padding: 10px 40px 10px 5px;
  border-radius: 10px;
  border: 1px solid rgb(172, 172, 172);
  margin-left: 5px;
  width: 100%;
  
  
  
}

h3{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.form-data{
  padding: 10px ;
}

form{
  padding: 13px;
}